# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
# *.lai
# *.la
# *.a
# *.lib

# Executables
*.exe
*.out
*.app
*.zip
*.tar.gz
CMakeFiles/
*.cmake
CMakeCache.txt
/Makefile
/.ninja_log
/.ninja_deps
/build.ninja
build/
*.ninja
/tests/
.vscode/
.idea/
src/lib/
zipper/
_deps/
.ninja_deps
.ninja_log
build.ninja
.vs/